body {
  background-color: rgb(211, 222, 255);
}

#ToDo_input_div {
  background-color:rgb(170, 208, 250);
  height: 460px;
  width: 400px;
  margin: 50px auto;
  border-radius: 50px;
}

#ToDo_Text {
  padding-left: 90px;
  padding-top: 15px;
}

#ToDo_Text input {
  width: 172px;
  height: 30px;
  border-radius: 10px;
  
}
#ToDo_Text input:focus {
  outline: none;
}
#ToDo_Text button {
  cursor: pointer;
  height: 35px;
  width: 52px;
  border-radius: 10px;
}

#ToDo_Text button:focus {
  outline: none;
}